.current-info {
    height: 39vh;
}
.five-day-info {
    height: 40vh;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: red;
}

#index div {
    width: min-content;
    height: min-content;
    border-radius: 3px;
}