body {
    background-color: #a8a7caba !important;
}

.title {
    background-color: #5F9EA0;
}

.current-info {
    height: 40vh;
}

#index div {
    width: min-content;
    height: min-content;
    border-radius: 3px;
}

.five-day-info {
    height: 40vh;
}

.low {
    background-color: #34b734;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: #f34545;
}
